.header {
  background-color: #af0038;
  color: aliceblue;
}

.header a {
  color: aliceblue;
  text-decoration: none;
  text-align: center;
}

.header a:hover {
  color: #df98ad;
}

.login-btn {
  background: none;
  color: aliceblue;
  font-weight: 500;
  border: 2px solid aliceblue;
  border-radius: 5px;
}

.login-btn:hover {
  background-color: aliceblue;
  color: #af0038;
}
