<header class="header py-4">
  <div
    class="
      header-container
      container
      d-flex
      flex-wrap flex-md-nowrap flex-column flex-sm-row
      align-items-center
      justify-content-between
    "
  >
    <a
      href="/"
      class="
        main-logo
        col-12 col-md-3
        d-flex
        justify-content-center
        align-items-center
      "
    >
      <img src="assets/images/novadocta-logo.png" class="img-fluid" />
    </a>
    <div class="header-right d-flex justify-content-end align-items-center">
      <nav class="header-nav d-flex flex-column flex-sm-row">
        <a href="" class="py-2 px-4">Oferta Académica</a>
        <a href="" class="py-2 px-4">Quienes somos</a>
        <a href="" class="py-2 px-4">Contacto</a>
        <button id="login-btn" class="login-btn">Ingresar</button>
      </nav>
    </div>
  </div>
</header>
